{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "env": {
    "node": true
  },
  "rules": {
    "no-param-reassign": ["error", { "props": false }],
    "no-throw-literal": 0,
    "func-names": 0,
    "consistent-return": 0,
    "no-underscore-dangle": ["error", { "allow": ["_id"] }]
  }
}
